{% extends 'layout.html.twig' %}
{% block content %}
    <div class="p-5 mb-4 mt-4 bg-light rounded-3 border">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Bienvenue dans le catalogue des cours</h1>
            <p class="col-md-8 fs-4">
                Explorez nos formations en ligne, conçues par des experts pour vous aider à progresser.
            </p>
            <a href="{{ path('app_catalog_all') }}" class="btn btn-primary btn-lg">Voir tous les cours</a>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for slug,course in courses %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ course.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{ course.category.name }} — par {{ course.author.name }}
                        </h6>
                        <p class="card-text">{{ course.synopsis }}</p>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <span class="fw-bold">
                           {% if course.price > 0 %}
                               {{ course.price | number_format(2, ',', ' ') }} DH
                           {% else %}
                               Gratuit
                           {% endif %}
                        </span>
                        <a href="{{ path('app_catalog_view', { slug:  slug}) }}" class="btn btn-outline-primary btn-sm">
                            Voir le cours
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
